@import url('https://fonts.googleapis.com/css?family=Anaheim');
$display-font: 'Anaheim', serif;

$main-dark: #06283e;
$main-med: #72cfe8;
$main-light: #d2f7f7;
$dark-gray: #2c2521;
$base-gray: #cecece;
$white: #fff;

body {
  background-color: $base-gray;
  font-family: sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, .display {
  font-family: $display-font;
}

button {
  background: none;
  border: none;

  &.save-button {
    fill: $main-dark;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 5px;

    &:hover {
      opacity: 1;
    }
  }
}

.app {
  background: $white;
  max-height: calc(100vh - 8px); // 8px for the top border ui style
}

.wrapper {
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  max-width: 500px;

  .palette {
    display: none;

    button {
      border: none;
      background: none;
      outline: none;
    }
  }
}

.topbar {
  display: flex;

 .logo {
    align-content: center;

    a {
      background: $main-light;
      color: $main-dark;
      display: inline-block;
      font-family: $display-font;
      font-size: 1.5rem;
      font-weight:100;
      text-decoration: none;
      padding: 1rem;

      &:hover {
        background: $main-light;
      }
    }
  }
}

.palette-tools {
  display: flex;
  padding-top: 1rem;

  > button {
    background: none;
    border: none;
    fill: $dark-gray;
    flex: 1;
    text-align: center;

    &.inactive {
      fill: $base-gray;
    }

    &:hover {
      cursor: pointer;
      fill: $main-med;
    }

    .tool-label {
      color: $main-dark;
      font-size: .75rem;
    }
  }
}

.palette-box {
  height: 400px;
  overflow-y: scroll;
}

.quilt {
  flex: 2;
  text-align: center;
  background-image: linear-gradient(45deg, $base-gray 25%, transparent 25%),
    linear-gradient(-45deg, $base-gray 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, $base-gray 75%), 
    linear-gradient(-45deg, transparent 75%, $base-gray 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

  svg {
    margin: 2rem auto;
    max-width: 100%;
    max-height: calc( 100vh - (4rem + 8px)); // 8px for the top border ui style
  }

  .is-outlined svg > * {
    stroke: black;
    stroke-width: .25px;
  }
}

.swatch-name {
  text-align: center;
  text-transform: uppercase;
  margin:2px;
}

.fab {
  background-color: $white;
  border-radius: 50%;
  border: none;
  bottom: 10px;
  left: 10px;
  outline: none;
  padding: 1rem;
  position: fixed;
  transition: background-color .5s ease-in-out;

  &:hover {
    background-color: $main-med;
  }
}

.modal {
  background-color: rgba(19, 19, 21, .65);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  .content {
    background: $white;
    height: calc(100vh - 4rem);
    margin: 2rem auto;
    padding: 1.5rem;
    position: relative;
    overflow-y: auto;

    @media (min-width: 600px) {
      width: 75vw;
    }

    .quilt-selection {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      li {
        background: lighten($base-gray, 10%);
        margin: 10px;
        padding: 2px;
        text-align: center;
        width: calc(50% - 20px);

        img {
          width: 100%;
          height: auto;
        }

        button {
          background: $main-dark;
          border-radius: 2px;
          border: none;
          color: $base-gray;
          font-size: .75rem;
          margin: 1rem;
          padding: 1rem;
          transition: all .5s ease-in-out;

          &:hover {
            background-color: $main-med;
            color: $dark-gray;
          }
        }
      }
    }
  }
}


@media (max-width: 950px) {
  .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .topbar,
  .topbar .logo a {
    display: block;
  }
}
