@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
$display-font: 'Zilla Slab', serif;

body {
  background-color: #cecece;
  font-family: sans-serif;
  margin: 0;
}

h1, h2, h3, .display {
  font-family: $display-font;
}

* {
  box-sizing: border-box;
}

.app {
  background: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  padding: 1rem 2rem;

  .palette {
    display: none;
  }

  select {
    background-color: rgb(42, 42, 72);
    background-color: transparent;
    color: #06283e;
    font-family: 'Zilla Slab', serif;
    font-size: 1.5rem;
    font-weight: 100;
    padding: .5rem;

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 950px) {
  .wrapper {
    display: block;
  }
}

.topbar {
  display: flex;

 .logo {
    align-content: center;
    margin-right: 1rem;

    a {
      background: #c2d8d8;
      color: #06283e;
      display: inline-block;
      font-family: 'Zilla Slab', serif;
      font-size: 1.5rem;
      font-weight:100;
      padding: 1rem;
      text-decoration: none;

      &:hover {
        background: #d2f7f7;
      }
    }
  }
}

.quilt {
  background-color: #e1ecec;
  flex: 2;
  text-align: center;

  svg {
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
  }
}

