.a {
  fill: #6a7a7a;
  background-color: #6a7a7a;
}

.b {
  fill: #cccbc0;
  background-color: #cccbc0;
}

.c {
  fill: #d8efed;
  background-color: #d8efed;
}

.d {
  fill: #fff;
  background-color: #fff;
}